@page "/addcustomer"
@using CPRG211FinalProject.Classes;

<h1>Add A New Customer in the Library</h1>
<div>
	<div class="form-group">
		<label>First Name: </label>
		<input type="text" class="form-control" placeholder="Enter First Name" @bind="customer.FirstName" />
	</div>

	<div class="form-group">
		<label>Last Name: </label>
		<input type="text" class="form-control" placeholder="Enter Last Name" @bind="customer.LastName" />
	</div>

	<div class="form-group">
		<label>Email: </label>
		<input type="text" class="form-control" placeholder="Enter Email" @bind="customer.Email" />
	</div>

	<div class="form-group">
		<label>Phone Number: </label>
		<input type="text" class="form-control" placeholder="Enter Phone Number" @bind="customer.Phone">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary my-3 text-start" @onclick="AddCustomer">Add Customer</button>
	</div>

</div>

@code {
	[Inject] NavigationManager NavigationManager { get; set; }
	Customer customer = new Customer { CustomerID = CustomerManager.MakeId() };

	public async Task AddCustomer()
	{
		if (CustomerManager.CheckCustomer(customer))
		{
			await App.Current.MainPage.DisplayAlert($"Invalid", $"Please fill all fields", "OK");
			return;
		}
		customer.Phone = CustomerManager.FormatPhoneNumber(customer.Phone);
		DatabaseManager.AddCustomer(customer);
		await App.Current.MainPage.DisplayAlert($"Success", $"Customer Added to System", "OK");
		NavigationManager.NavigateTo("/customers");
	}
}
